.profile {
    padding: 10px;
    padding-bottom: 100px;
    height: 100vh;
    overflow-y: scroll;
}

.profile > h1 {
    text-align: center;
}

.profile-form {
    display: flex;
    width: 450px;
    justify-content: center;
    margin: auto;
}

#delete-button {
    background-color: white;
    position: absolute;
    margin: 10px;
    width: fit-content;
    top: 70px;
    right: 10px;
    border-radius: 5px;
}

#delete-button > button {
    margin: 0;
}

hr{
    margin-top: 22px ;
    margin-bottom:22px ;
}

.form {
    width: 85vw;
}

.password-form {
    display: flex;
    justify-content: center;
    width: 450px;
    margin: auto;
}

.currentImage{
    margin: auto;
    margin-bottom: 20px;
    width: max-content;
}

.currentImage img{
    margin: auto;
    display: block;
    margin-bottom: 20px;
    width: 300px;
}