#message{
    display: flex;
    margin-top: 10px;
    width: 80%;
    background-color: #936756;
    flex-direction: column;
}

#user-info{
    display: flex;
}

.user-image{
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 5px;
}

.header span:nth-of-type(1) {
    font-size: 16px;
    color: #72afd3;
}

.header span:nth-of-type(2) {
    font-size: 14px;
}

#content {
    background: whitesmoke;
    margin: 10px 0;
    padding: 5px 15px;
    transform: translateY(-15px);
    margin-left: 75px;
    border-radius: 5px;
    word-wrap: break-word;
}

#like-button{
    margin-left: 75px;
    margin-top: -20px;
}

#message-container {
    overflow:scroll;
    height: 100%;
}