.navBar{
    padding: 0 20px;
    display: flex;
    position: relative;
    height: 50px;
    justify-content: center;
    background-color: #72afd3;
}

#nav-link {
    display: flex;
    height: 100%;
}

#nav-link a{
    color: black;
    padding:15.5px 10px;
    height: max-content;
}

#nav-link a:hover, #back-button:hover {
    background: #51646f;
}

#nav-buttons {
    color: black;
    padding:0;   
    background-color: transparent;
}

#back-button {
    position: absolute;
    padding: 15px 30px;
    height: 100%;
    left: 0;
}

#back-button button {
    padding: 0;
    color: black;
    background-color: transparent;
}